.complete .label {
    color: #ccc;
    text-decoration: line-through;
}

li {
    list-style-type: none;
    margin-left: -20px;
}

li .label {
    margin-left: 10px;
}

li .removeBtn {
  display: none;
  color: #A31723;
  margin-left: 10px;
  cursor: pointer;
}

li:hover .removeBtn {
  display: inline-block;
}

li .removeBtn:hover {
  color: #D11D31;
}

