body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

#app {
  width: 600px;
  margin: 20px auto;
}

form input[type="text"] {
  width: 576px;
  font-size: 20px;
  padding: 10px;
}

ul {
  margin: 30px 0 0 0;
  padding: 10px;
  list-style: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}

.complete .label {
  color: #ccc;
  text-decoration: line-through;
}

li {
  padding: 15px 30px 15px 10px;
  margin: 0;
  border-bottom: 1px dotted #8a6343;
  font-size: 20px;
  position: relative;
}

li:last-child {
  border-bottom: none;
}

li .label {
  margin-left: 10px;
}

li .removeBtn {
  display: none;
  color: #A31723;
  margin-left: 10px;
  cursor: pointer;
}

li:hover .removeBtn {
  display: inline-block;
}

li .removeBtn:hover {
  color: #D11D31;
}

